/* ==============================
   СВЕТЛАЯ ТЕМА — автоматически по системе
   ============================== */

@media (prefers-color-scheme: light) {
  :root {
    --color-accent: #ff8dcb;
    --color-accent-background: #353430;
    --color-heading: #353430;
    --color-section-heading: #353430;
    --color-text: #353430;
    --color-background: #fff1f7;
    --color-button-hover: rgba(50, 49, 45, 0.4);
    --color-decorative: #353430;
    --color-rec: transparent;
    --color-corner: #353430;
    --background-image: url(../images/cover-image-light.png);
  }

  .decorative__element {
    display: none;
  }
}

/* ==============================
   СВЕТЛАЯ ТЕМА — принудительно по кнопке «День»
   ============================== */

:root.theme-light {
  --color-accent: #ff8dcb;
  --color-accent-background: #353430;
  --color-heading: #353430;
  --color-section-heading: #353430;
  --color-text: #353430;
  --color-background: #fff1f7;
  --color-button-hover: rgba(50, 49, 45, 0.4);
  --color-decorative: #353430;
  --color-rec: transparent;
  --color-corner: #353430;
  --background-image: url(../images/cover-image-light.png);
}

:root.theme-light .decorative__element {
  display: none;
}
